 * {
	box-sizing: border-box;
    scroll-behavior: smooth;
}  

body {
	background-image: url(../cssMemSlider/assets/background.jpeg);
}

.container{
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    grid-template-areas:
      'slider slider'
      'descr nav';
    grid-row-gap: 15px;
    background-color: transparent;
  }
  
  .slider__wrapper {
    max-width: 700px;
    margin: 30px auto 0;
    overflow: hidden;
    grid-area: slider;
    border-radius: 10px;
  }
  .slider {
    display: flex;
    width: 400%;
    height: 700px;
  }
  .input {
    visibility: hidden;
    position: absolute;
  }
  .slide {
    width: 25%;
    transition: all 0.6s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .slider__descr {
    grid-area: descr;
  }
  
  .slider__navigation {
    grid-area: nav;
    margin-left: 18rem;
    display: flex;
  }
  
  .bar {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .bar__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #71abfe;
    border: 3px solid #71abfe;
    transition: all 0.5s;
  }
  
  .bar:hover .bar__circle {
    background-color: #fff;
    border-color: #fff;
  }
  .bar:hover .bar__circle:active {
    border-color: #fff;
  }
  
  #input1:checked ~ .slider__wrapper > .slider > .s1 {
    margin-left: 0;
  }
  #input2:checked ~ .slider__wrapper > .slider > .s1 {
    margin-left: -25%;
  }
  #input3:checked ~ .slider__wrapper > .slider > .s1 {
    margin-left: -50%;
  }
  #input4:checked ~ .slider__wrapper > .slider > .s1 {
    margin-left: -75%;
  }
  #input5:checked ~ .slider__wrapper > .slider > .s1 {
    margin-left: -125%;
  }
  #input6:checked ~ .slider__wrapper > .slider > .s1 {
    margin-left: -150%;
  }
  #input1:checked ~ .slider__navigation > .bar > .bar__circle1 {
    border-color: #71abfe;
    background-color: inherit;
  }
  #input2:checked ~ .slider__navigation > .bar > .bar__circle2 {
    background-color: #71abfe;
    background-color: inherit;
  }
  #input3:checked ~ .slider__navigation > .bar > .bar__circle3 {
    background-color: #71abfe;
    background-color: inherit;
  }
  #input4:checked ~ .slider__navigation > .bar > .bar__circle4 {
    background-color: #71abfe;
    background-color: inherit;
  }
  #input5:checked ~ .slider__navigation > .bar > .bar__circle5 {
    background-color: #71abfe;
    background-color: inherit;
  }
  #inpu6:checked ~ .slider__navigation > .bar > .bar__circle6 {
    background-color: #71abfe;
    background-color: inherit;
  }
  
  .slider__descr {
    overflow: hidden;
    width: 230px;
  }
  .slider__descr-wrapper {
    font-size: 30px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    width: 1440px;
    transition: 0.6s;
  }
  .descr__item {
    margin-right: 30px;
    width: 25%;
  }
  
  #input1:checked ~ .slider__descr > .slider__descr-wrapper {
    transform: translateX(0%);
  }
  #input2:checked ~ .slider__descr > .slider__descr-wrapper {
    transform: translateX(-25%);
  }
  #input3:checked ~ .slider__descr > .slider__descr-wrapper {
    transform: translateX(-50%);
  }
  #input4:checked ~ .slider__descr > .slider__descr-wrapper {
    transform: translateX(-75%);
  }
  #input5:checked ~ .slider__descr > .slider__descr-wrapper {
    transform: translateX(-100%);
  }
  #input6:checked ~ .slider__descr > .slider__descr-wrapper {
    transform: translateX(-125%);
  }